<app-topology-renderer [topologyTemplate]="this.topologyTemplate"
                       [visuals]="this.visuals"
                       (passClosePaletteToRoot)="passClosePaletteToPalette()"
                       [pressedPaletteItem]="pressedPaletteItemFromRoot"
                       [paletteStatus]="paletteStatus">
</app-topology-renderer>

<app-palette-component style="width:200px;float:left; margin-top: 7%;"
                       (sendPressedPaletteItem)="sendPressedPaletteItem($event)"
                       [closePalette]="closePalette"
                       (adjustGridSizeToPalette)="adjustGridSize($event)"
></app-palette-component>

<!--
<app-sidebar style="width : 300px; float:right"></app-sidebar>
-->
