div.container {
  border-style: solid;
  border-width: 1px;
  padding: 5px;
  width: 225px;
  font-size: small;
}

[draggable=true] {
  cursor: move;
}

a {
  font-size: small;
  line-height: 25%
}

.hidden {
  display: none;
}

p {
  line-height: 22%
}

#specifierDiv {
  margin-top: 5px
}

.container rounded {
  pointer-events: auto;
}
