<div class="container rounded" style="padding: 3px; position: absolute" id={{id}}>
  <div class="row rounded"
       style="background-color: rgba(255,255,255,0.75); margin-left: 1px; margin-right: 1px; padding: 5px">
    <div class="col-sm-3">
      <i class="fa fa-4x fa-linux" aria-hidden="true"></i>
    </div>
    <div class="col-sm-9">
      <p class="" align="right">{{title}}</p>
      <a href="#" class="h6 btn-link" style="text-align: right; display: block">(Ubuntu-14.04-VM)</a>
    </div>
  </div>
  <accordion #accordion [appNodeDisplay]="accordionContents">
    <accordion-group [isOpen]="status.isOpen" panelClass="accordionGroupPanel" class="hidden">
      <div accordion-heading>
        Target Location
      </div>
      This is just some content to illustrate fancy headings.
    </accordion-group>
    <accordion-group heading="Properties" [panelClass]="accordionGroupPanel">
      <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add new
      </button>
      <div *ngFor="let item of items">{{item}}</div>
    </accordion-group>
    <accordion-group heading="Deployment Artifacts" panelClass="accordionGroupPanel">
      <button type="button" class="btn btn-primary btn-sm" (click)="addItem()">Add new
      </button>
      <div *ngFor="let item of items">{{item}}</div>
    </accordion-group>
    <accordion-group heading="Requirements" panelClass="accordionGroupPanel">
      <button type="button"
              class="btn btn-primary btn-sm"
              (click)="addItem()">
        Add new
      </button>
      <div *ngFor="let item of items">{{item}}</div>
    </accordion-group>
    <accordion-group #group [isOpen]="status.isOpen" panelClass="accordionGroupPanel">
      <div accordion-heading>
        Capabilities
        <i class="pull-right float-xs-right fa"
           [ngClass]="{'fa-chevron-down': group?.isOpen, 'fa-chevron-right': !group?.isOpen}"></i>
      </div>
      This is just some content to illustrate fancy headings.
    </accordion-group>
    <accordion-group [isOpen]="status.isOpen" panelClass="accordionGroupPanel">
      <div accordion-heading>
        Policies
      </div>
      This is just some content to illustrate fancy headings.
    </accordion-group>
  </accordion>
</div>
