<div class="container rounded" style="padding: 3px; position: absolute" [style.top]="top" [style.left]="left" id={{title}}>
  <div class="row rounded"
       style="background-color: rgba(255,255,255,0.75); margin-left: 1px; margin-right: 1px; padding: 5px">
    <div class="col-sm-3">
      <i class="fa fa-4x fa-picture-o" aria-hidden="true"></i>
    </div>
    <div id="specifierDiv" class="col-sm-9">
      <p class="" align="right">{{title}}</p>
      <p class="" align="right" style="color: tomato" *ngIf="idsVisible">{{title}}</p>
      <a href="#" class="h6 btn-link" style="text-align: right; display: block" *ngIf="typesVisible">{{title}}</a>
    </div>
  </div>
  <accordion #accordion>

    <!-- PROPERTIES -->
    <accordion-group
      heading="Properties"
      panelClass="accordionGroupPanel"
      *ngIf="propertiesVisible">
    </accordion-group>

    <!-- DEPLOYMENT ARTIFACTS -->
    <accordion-group
      heading="Deployment Artifacts"
      panelClass="accordionGroupPanel"
      *ngIf="deploymentArtifactsVisible">
    </accordion-group>

    <!-- REQUIREMENTS & CAPABILITIES -->
    <accordion-group
      heading="Requirements & Capabilities"
      panelClass="accordionGroupPanel"
      *ngIf="requirementsCapabilitiesVisible">

    </accordion-group>

    <!-- POLICIES -->
    <accordion-group
      #group
      [isOpen]="status.isOpen"
      panelClass="accordionGroupPanel"
      *ngIf="policiesVisible">
      <div accordion-heading>
        Policies
        <i class="pull-right float-xs-right fa"
           [ngClass]="{'fa-chevron-down': group?.isOpen, 'fa-chevron-right': !group?.isOpen}"></i>
      </div>
      This is just some content to illustrate fancy headings.
    </accordion-group>

    <!-- TARGET LOCATIONS -->
    <accordion-group
      panelClass="accordionGroupPanel"
      *ngIf="targetLocationsVisible">
      <div accordion-heading>
        Target Locations
      </div>
      This is just some content to illustrate fancy headings.
    </accordion-group>

  </accordion>
</div>
