<div class="container rounded" style="padding: 3px; position: absolute" [style.top]="top" [style.left]="left"
     id={{title}} [style.borderColor]="nodeColor" [style.backgroundColor]="nodeColor">
  <div class="row rounded"
       style="background-color: rgba(255,255,255,0.75); margin-left: 1px; margin-right: 1px; padding: 5px">
    <div class="col-sm-3">
      <img *ngIf="!nodeImageUrl" src="https://api.adorable.io/avatars/50/{{title}}" style="border-radius: 15%">
      <img *ngIf="nodeImageUrl" src="{{nodeImageUrl}}">
    </div>
    <div id="specifierDiv" class="col-sm-9">
      <p class="" align="right">{{title}}</p>
      <p class="" align="right" style="color: tomato" *ngIf="idsVisible">{{title}}</p>
      <a href="#" class="h6 btn-link" style="text-align: right; display: block" *ngIf="typesVisible">{{title}}</a>
    </div>
  </div>
  <accordion #accordion>

    <!-- PROPERTIES -->
    <accordion-group
      #propertiesgroup
      panelClass="accordionGroupPanel"
      *ngIf="propertiesVisible">
      <div accordion-heading>
        Properties
        <i class="pull-sm-0 float-sm-right fa icon-styling"
           [ngClass]="{'fa-chevron-down': propertiesgroup?.isOpen, 'fa-chevron-right': !propertiesgroup?.isOpen}"
           style="padding-top: 3px"></i>
      </div>
    </accordion-group>

    <!-- DEPLOYMENT ARTIFACTS -->
    <accordion-group
      #deploymentartifactsgroup
      panelClass="accordionGroupPanel"
      *ngIf="deploymentArtifactsVisible">
      <div accordion-heading>
        Deployment Artifacts
        <i class="pull-sm-0 float-sm-right fa icon-styling"
           [ngClass]="{'fa-chevron-down': deploymentartifactsgroup?.isOpen,
           'fa-chevron-right': !deploymentartifactsgroup?.isOpen}"
           style="padding-top: 3px"></i>
      </div>
    </accordion-group>

    <!-- REQUIREMENTS & CAPABILITIES -->
    <accordion-group
      #requirementscapabilitiesgroup
      panelClass="accordionGroupPanel"
      *ngIf="requirementsCapabilitiesVisible">
      <div accordion-heading>
        Requirements - Capabilities
        <i class="pull-sm-0 float-sm-right fa icon-styling"
           [ngClass]="{'fa-chevron-down': requirementscapabilitiesgroup?.isOpen,
           'fa-chevron-right': !requirementscapabilitiesgroup?.isOpen}"
           style="padding-top: 3px"></i>
      </div>
    </accordion-group>

    <!-- POLICIES -->
    <accordion-group
      #policiesgroup
      panelClass="accordionGroupPanel"
      *ngIf="policiesVisible">
      <div accordion-heading>
        Policies
        <i class="pull-sm-0 float-sm-right fa icon-styling"
           [ngClass]="{'fa-chevron-down': policiesgroup?.isOpen, 'fa-chevron-right': !policiesgroup?.isOpen}">
        </i>
      </div>
    </accordion-group>

    <!-- TARGET LOCATIONS -->
    <accordion-group
      #targetlocationsgroup
      panelClass="accordionGroupPanel"
      *ngIf="targetLocationsVisible">
      <div accordion-heading>
        Target Locations
        <i class="pull-sm-0 float-sm-right fa icon-styling"
           [ngClass]="{'fa-chevron-down': targetlocationsgroup?.isOpen,
           'fa-chevron-right': !targetlocationsgroup?.isOpen}">
        </i>
      </div>
    </accordion-group>
  </accordion>
</div>
