<div id="container" style="height: auto;">
  <div id="grid"
       (mousedown)="trackTimeOfMouseDown($event)"
       (mouseup)="trackTimeOfMouseUp($event)"
       [class.crosshair]="this.crosshair">
    <div class="selection" id="selection"
         [class.selection-active]="selectionActive"
         [style.left.px]="pageX"
         [style.top.px]="pageY"
         [style.width.px]="selectionWidth"
         [style.height.px]="selectionHeight">
      <span></span>
    </div>
  </div>
  <div *ngIf="paletteClicked">
    <app-node *ngFor="let node of nodeTypes"
              [title]="node.nodeType._id"
              (sendId)="makeDraggable($event)"
              [left]="node.nodeType._otherAttributes['x']"
              [top]="node.nodeType._otherAttributes['y']"
              [nodeColor]="node.nodeType.color"
              [navBarButtonClicked]="pressedNavBarButton"
              (addNodeToDragSelection)="addNodeToDragSelection($event)"
              (checkIfNodeInSelection)="checkIfNodeInSelection($event)"
              [selectedNodes]="selectedNodes">
    </app-node>
  </div>
  <app-node *ngFor="let node of nodeTemplates"
            [title]="node.id"
            [nodeColor]="node.color"
            [left]="node.otherAttributes['x']+'px'"
            [top]="node.otherAttributes['y']+'px'"
            [nodeImageUrl]="node.imageUrl"
            (askForRepaint)="repaintJsPlumb()"
            [navBarButtonClicked]="pressedNavBarButton"
            (addNodeToDragSelection)="addNodeToDragSelection($event)"
            (checkIfNodeInSelection)="checkIfNodeInSelection($event)"
            [selectedNodes]="selectedNodes">
  </app-node>
</div>
