<div id="container">
<div *ngIf="paletteClicked">
  <app-node *ngFor="let node of nodeTypes"
            [title]="node.nodeType.id"
            (sendId)="makeDraggable($event)"
            [left]="node.nodeType.otherAttributes['{http://www.opentosca.org/winery/extensions/tosca/2013/02/12}x']"
            [top]="node.nodeType.otherAttributes['{http://www.opentosca.org/winery/extensions/tosca/2013/02/12}y']"
            [nodeColor]="node.nodeType.color">
  </app-node>
</div>
<app-node *ngFor="let node of nodeTemplates"
          [title]="node.id"
          [nodeColor]="node.color"
          [left]="node.otherAttributes['{http://www.opentosca.org/winery/extensions/tosca/2013/02/12}x']+'px'"
          [top]="node.otherAttributes['{http://www.opentosca.org/winery/extensions/tosca/2013/02/12}y']+'px'"
          [nodeImageUrl]="node.imageUrl"
          (askForRepaint)="repaintJsPlumb()">
</app-node>
</div>
